*{
    margin: 0;
    padding: 0;
    font-family: 'Orchidea Pro'; 
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
@font-face {
	font-family: 'Orchidea Pro'; 
	src: url('../fonts/OrchideaPro-Regular.ttf'); 
}
.container{
    max-width: 1172px;
    margin: 0 auto;
}
.header__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.header__contacts{
    display: flex;
    align-items: center;
}
.about__number{
    margin-left: 7px;
}
.header__search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.header__catalog-btn{
    background-color: #00A23D;
    color: #fff;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 16px;
}
.header__blog-btn{
    background-color: #FAAF3A;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 7px 12px;
    font-size: 16px;
    font-weight: 500;
}
.header__search-form{
    width: 500px;
    border: 1.5px solid #424242;
    min-height: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}
.header__search-input{
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 474px;
    height: 25px;
    font-size: 16px;
    color: #BDBDBD;
}
.header__search-btn{
    width: 20px;
    height: 20px;
    border: none;
    background: url(../image/header-btn-search.png) no-repeat 50% 50%;
    cursor: pointer;
}
.news__text{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 50px;
}
.news__header{
    color: #424242;
    font-size: 30px;
    font-weight: 700;
}
.news__btn{
    background-color: #00A23D;
    color: #fff;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 16px;
}

.news__item{
    width: 271px;
    border: 1px solid #424242;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
}
.news__review{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 37px;
}
.news__description{
    font-size: 18px;
    font-weight: 700;
    color: #424242;
    height: 54px;
}
.news__buy-btn{
    background-color: #00A23D;
    color: #fff;
    border: none;
    padding: 10px 60px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 19px;
    margin-bottom: 19px;
}
.news__review-text{
    color: #BDBDBD;
}
.news__product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news__hit{
    position: absolute;
    transform: translate(-20px, -20px);
}
.blog__heading-text{
    color: #424242;
    font-size: 25px;
    font-weight: 700;
}
.blog__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog__header-grey-text{
    display: flex;
}
.blog__header-btn{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    background: #00A23D;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 15px 37px;
}
.blog__header-desc{
    color: #BDBDBD;
    font-size: 18px;
    font-weight: 600;
    margin-right: 30px;
}
.blog__section-header{
    color: #424242;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 30px;
}
.blog__section-desc{
    color: #424242;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.blog__list-link{
    color: #424242;
    font-size: 16px;
    font-weight: 500;
}
.blog__list-item{
    list-style-type: none;
    margin-bottom: 10px;
}
.blog__repost{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 35px;
}
.blog__repost img {
    margin-left: 10px;
}
.blog__tovar-items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.blog{
    margin-top: 50px;
}
.blog__alert{
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #ECE9E6 0%, #FFFFFF 100%);
    border-radius: 5px;
    padding: 38px 50px;
}
.blog__alert-img{
    margin-right: 35px;
}
.blog__list-item-polza{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.blog__list-item-polza img{
    margin-right: 10px;
}
.blog__switch{
    display: flex;
    justify-content: space-between;
}
.blog__switch-prev{
    display: flex;
    align-items: center;
}
.blog__switch-prev img{
    margin-right: 20px;
}
.blog__switch-next{
    display: flex;
    align-items: center;
}
.blog__switch-next img{
    margin-left: 20px;
}
.blog__switch-desc{
    color: #A5A3A3;
    font-weight: 600;
}
.blog__repost2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.blog__repost2-left{
    display: flex;
    align-items: center;
}
.blog__repost2-left img{
    margin-left: 10px;
}
.blog__repost2-btn{
    color: #fff;
    background: #00A23D;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none;
    padding: 15px 37px;
}
.similar__btn{
    background-color: #00A23D;
    color: #fff;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 16px;
}
.similar__text{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.similar__item{
    width: 369px;
}
.similar__info{
    display: flex;
    margin-top: 10px;
}
.similar__number{
    font-size: 50px;
    font-weight: 700;
    line-height: 40px;
}
.similar__mounth{
    background-color: #FAAF3A;
    padding: 9px 18px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 9px;
}
.similar__desc-header{
    color: #424242;
    font-size: 16px;
    font-weight: 800;
}
.similar__desc-opis{
    color: #424242;
    font-size: 16px;
    font-weight: 500;
}
.similar__description{
    margin-left: 10px;
}
.similar__items{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.similar{
    margin-top: 60px;
}
.similar__header{
    color: #424242;
    font-size: 25px;
    font-weight: 700;
}
.bashk-med{
    display: flex;
    margin-top: 80px;
}
.bashk-med__left{
    background: linear-gradient(90deg, #ECE9E6 0%, #FFFFFF 100%);
    border: 2px solid #00A23D;
    padding: 45px 50px;
}
.bashk-med__right{
    background: linear-gradient(90deg, #F9F8F6 0%, #FFFFFF 100%);
    border: 2px solid #00A23D;
    margin-left: 20px;
    padding: 20px 70px;
    text-align: center;
}
.bashk-med__header{
    color: #424242;
    font-size: 25px;
    font-weight: 700;
}
.bashk-med__desc{
    color: #424242;
    font-size: 16px;
    font-weight: 500;
    margin-top: 21px;
}
.bashk-med__btn{
    background: #00A23D;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    padding: 14px 25px;
    border: none;
    outline: none;
    text-align: center;
    margin-top: 27px;
}
.mailing{
    background: linear-gradient(90deg, #ECE9E6 0%, #FFFFFF 100%);
    padding-top: 31px;
    padding-bottom: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.mailing__form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mailing__description{
    color: #424242;
    font-size: 20px;
    font-weight: 700;
    margin-right: 25px;
}
.mailing__form-div{
    width: 366px;
    border: 2px solid #00A23D;
    border-radius: 5px;
    min-height: 20px;
}
.mailing__input{
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 251.3px;
    vertical-align: middle;
    padding-left: 10px;
    color: #BDBDBD;
    height: 30px;
    background-color: transparent;
}
.mailing__btn{
    border: none;
    background-color: #00A23D;
    color: #fff;
    padding: 9px 15px;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}









.footer{
    background-color: #00A23D;
    color: #fff;
    padding-top: 76px;
    padding-bottom: 38px;
}
.footer__info{
    display: flex;
    justify-content: space-between;
}
.footer__header{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
}
.footer__item{
    list-style-type: none;
    margin-top: 10px;
}
.footer__link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.footer__number{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.footer__number-text{
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}
.footer__seti{
    display: flex;
    align-items: center;
}
.footer__icon1, .footer__icon2, .footer__icon3{
    margin-right: 15px;
}
.footer__copyright{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 45px;
}