*{
    margin: 0;
    padding: 0;
    font-family: 'Orchidea Pro'; 
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
@font-face {
	font-family: 'Orchidea Pro'; 
	src: url('../fonts/OrchideaPro-Regular.ttf'); 
}
.container{
    max-width: 1172px;
    margin: 0 auto;
}
.header__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.header__contacts{
    display: flex;
    align-items: center;
}
.about__number{
    margin-left: 7px;
}
.header__search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}
.header__catalog-btn{
    background-color: #00A23D;
    color: #fff;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 16px;
}
.header__blog-btn{
    background-color: #FAAF3A;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 7px 12px;
    font-size: 16px;
    font-weight: 500;
}
.header__search-form{
    width: 500px;
    border: 1.5px solid #424242;
    min-height: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}
.header__search-input{
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 474px;
    height: 25px;
    font-size: 16px;
    color: #BDBDBD;
}
.header__search-btn{
    width: 20px;
    height: 20px;
    border: none;
    background: url(../image/header-btn-search.png) no-repeat 50% 50%;
    cursor: pointer;
}
.hero{
    background: linear-gradient(90deg, #ECE9E6 0%, #FFFFFF 100%);
    background-size: 100%;
}
.hero__header{
    font-size: 40px;
    font-weight: 800;
    padding-top: 67px;
}
.hero__description{
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
}
.hero__btn{
    color: #000;
    background-color: #FAAF3A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding: 16px 53px;
    margin-top: 39px;
}
.hero__prev, .hero__next{
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-size: 18px;
}
.hero__slider{
    max-width: 80%;
    position: relative;
    margin: auto;
}
.hero__slider .hero__slide{
    object-fit: cover;
    max-width: 100%;
    height: 40vh;
    border: none !important;
    box-shadow: none !important;
    margin-left: 100px;
}
.hero__slider .hero__next{
    right: 0;
}
.hero__slide-img1{
    position: absolute;
    transform: translate(330px, -145px);
}
.hero__slide-img2{
    position: absolute;
    transform: translate(170px, -175px);
}
.hero__slide-img3{
    position: absolute;
    transform: translate(290px, 50px);
}
.categories__kinds{
    display: flex;
    justify-content: space-between;
}
.categories__item{
    background: linear-gradient(90deg, #ECE9E6 0%, #FFFFFF 100%);
    box-shadow: 6px 6px 6px rgba(163, 163, 163, 0.25);
    border-radius: 5px;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
    width: 250px;
    height: 224px;
    display: flex;
}
.categories__description{
    font-size: 25px;
    color: #424242;
    font-weight: 600;
    margin-top: 10px;
}
.categories__info{
    margin: auto;
}
.categories__text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 37px;
    align-items: center;
}
.categories__btn{
    background-color: #00A23D;
    color: #fff;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 16px;
}
.categories__header{
    color: #424242;
    font-size: 30px;
    font-weight: 700;
}
.news__text{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 50px;
}
.news__header{
    color: #424242;
    font-size: 30px;
    font-weight: 700;
}
.news__btn{
    background-color: #00A23D;
    color: #fff;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 16px;
}

.news__item{
    width: 271px;
    border: 1px solid #424242;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
}
.news__review{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 37px;
}
.news__description{
    font-size: 18px;
    font-weight: 700;
    color: #424242;
    height: 54px;
}
.news__buy-btn{
    background-color: #00A23D;
    color: #fff;
    border: none;
    padding: 10px 60px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 19px;
    margin-bottom: 19px;
}
.news__review-text{
    color: #BDBDBD;
}
.news__product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news__hit{
    position: absolute;
    transform: translate(-20px, -20px);
}

.blog__header{
    font-size: 30px;
    font-weight: 700;
    color: #424242;
}
.blog__btn{
    background-color: #00A23D;
    color: #fff;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 16px;
}
.blog__text{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.blog__item{
    width: 369px;
}
.blog__info{
    display: flex;
    margin-top: 10px;
}
.blog__number{
    font-size: 50px;
    font-weight: 700;
    line-height: 40px;
}
.blog__mounth{
    background-color: #FAAF3A;
    padding: 9px 18px;
    font-size: 20px;
    font-weight: 700;
    margin-top: 9px;
}
.blog__desc-header{
    color: #424242;
    font-size: 16px;
    font-weight: 800;
}
.blog__desc-opis{
    color: #424242;
    font-size: 16px;
    font-weight: 500;
}
.blog__description{
    margin-left: 10px;
}
.blog__items{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.reviews__header{
    font-size: 30px;
    font-weight: 700;
    color: #424242;
}
.reviews__btn{
    background-color: #00A23D;
    color: #fff;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    font-size: 16px;
}
.reviews{
    margin-top: 100px;
}
.reviews-text{
    display: flex;
    justify-content: space-between;
}
.reviews__item{
    width: 369px;
    background: linear-gradient(90deg, #ECE9E6 0%, #FFFFFF 100%);
    border-radius: 5px;
    padding: 15px;
}
.reviews__items{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.reviews__about-user{
    display: flex;
    align-items: center;
}
.reviews__about-text{
    text-align: center;
    margin-left: 20px;
}
.reviews__user-name{
    color: #424242;
    font-size: 18px;
    font-weight: 700;
}
.reviews__user-data{
    color: #BDBDBD;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}
.reviews__greent-text{
    color:#00A23D;
    font-size: 18px;
    font-weight: 800;
    margin-top: 10px;
}
.reviews__text-description{
    color: #424242;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.mailing{
    background: linear-gradient(90deg, #ECE9E6 0%, #FFFFFF 100%);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.mailing__form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mailing__description{
    color: #424242;
    font-size: 20px;
    font-weight: 700;
    margin-right: 25px;
}
.mailing__form-div{
    width: 366px;
    border: 2px solid #00A23D;
    border-radius: 5px;
    min-height: 20px;
}
.mailing__input{
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 251.3px;
    vertical-align: middle;
    padding-left: 10px;
    color: #BDBDBD;
    height: 30px;
    background-color: transparent;
}
.mailing__btn{
    border: none;
    background-color: #00A23D;
    color: #fff;
    padding: 9px 15px;
    border-radius: 0px 3px 3px 0px;
    cursor: pointer;
}

.footer{
    background-color: #00A23D;
    color: #fff;
    padding-top: 76px;
    padding-bottom: 38px;
}
.footer__info{
    display: flex;
    justify-content: space-between;
}
.footer__header{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
}
.footer__item{
    list-style-type: none;
    margin-top: 10px;
}
.footer__link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.footer__number{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.footer__number-text{
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}
.footer__seti{
    display: flex;
    align-items: center;
}
.footer__icon1, .footer__icon2, .footer__icon3{
    margin-right: 15px;
}
.footer__copyright{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 45px;
}
.panel{
    display: none;
}
.contain{
    margin: 0 auto;
    max-width: 100vw;
}
.mailing__form-div-adaptiv{
    display: none !important;
}


@media (max-width: 420px) {
    .container{
        max-width: 320px;
    }
    .header__burger{
        display: none;
    }
    .header__logo-img{
        width: 120px;
    }
    .about__number{
        font-size: 14px;
    }
    .header__catalog-btn{
        display: none;
    }
    .header__blog-btn{
        display: none;
    }
    .header__search-form{
        width: 305px;
    }
    .hero__prev{
        display: none;
    }
    .hero__next{
        display: none;
    }
    .hero__header{
        font-size: 16px;
        padding-top: 25px;
    }
    .hero__description{
        font-size: 12px;
        width: 170px;
    }
    .hero__slide{
        margin-left: 0px !important;
    }
    .hero__btn{
        display: none;
    }
    .hero__slide{
        height: 130px !important;
    }
    .hero__slide-img1{
        width: 175px;
        transform: translate(150px, -80px);
    }
    .hero__slide-img2{
        width: 55px;
        transform: translate(130px, -90px);
    }
    .hero__slide-img3{
        width: 55px;
        transform: translate(110px, 0px);
    }
    .categories__header {
        font-size: 16px;
    }
    .categories__item {
        width: 145px;
        height: 87px;
        padding: 0px;
        margin-top: 10px;
    }
    .categories__kinds{
        justify-content: space-around;
    }
    .categories__item img{
        width: 54px;
    }
    .categories__kinds{
        flex-wrap: wrap;
    }
    .categories__description{
        font-size: 12px;
    }
    .categories__text{
        margin-bottom: 20px;
    }
    .categories__btn{
        font-size: 14px;
        width: 126px;
        height: 32px;
    }
    .news__text{
        align-items: center;
    }
    .news__header{
        font-size: 16px;
    }
    .news__btn{
        font-size: 14px;
        width: 126px;
        height: 32px;
    }
    .news__text{
        margin-bottom: 5px;
        margin-top: 50px;
    }
    .news__item {
        width: 145px;
        margin-top: 25px;
    }
    .news__product-img{
        /* width: 143px; */
        height: 83px;
        
    }
    .news__description{
        font-size: 10px;
        height: 20px;
    }
    .news__review-text{
        font-size: 10px;
        margin-left: 10px;
    }
    .news__review img{
        width: 80px;
    }
    .news__product{
        justify-content: space-around;
    }
    .news__review{
        margin-left: 30px;
        flex-wrap: wrap;
        text-align: center;
    }
    .news__item:nth-child(2n){
        display: none;
    }
    .news__buy-btn{
        font-size: 12px;
        padding: 7px 27px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .news__tovar-price{
        font-size: 12px;
    }
    .news__hit{
        display: none;
    }
    .blog__text{
        margin-top: 50px;
        align-items: center;
    }
    .blog__header{
        font-size: 16px;
    }
    .blog__btn{
        font-size: 14px;
        width: 126px;
        height: 32px;
    }
    .blog__items{
        margin-top: 50px;
    }
    .blog__item:nth-child(2){
        display: none;
    }
    .blog__item:nth-child(3){
        display: none;
    }
    .blog__item-img{
        width: 320px;
    }
    .blog__desc-header{
        font-size: 14px;
    }
    .blog__desc-opis{
        font-size: 14px;
    }
    .footer{
        display: none;
    }
    .reviews__item:nth-child(2){
        display: none;
    }
    .reviews__item:nth-child(3){
        display: none;
    }
    .reviews-text{
        align-items: center;
    }
    .reviews__header{
        font-size: 16px;
    }
    .reviews__btn{
        font-size: 14px;
        width: 126px;
        height: 32px;
    }
    .reviews__items{
        margin-top: 50px;
    }
    .reviews{
        margin-top: 50px;
    }
    .reviews__greent-text{
        font-size: 16px;
    }
    .reviews__text-description{
        font-size: 14px;
    }
    .reviews__user-name{
        font-size: 16px;
    }
    .reviews__user-data{
        font-size: 12px;
    }
    .mailing{
        background: transparent;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 20px;
    }
    .mailing__form{
        display: block;
    }
    .mailing__input{
        width: 200px;
    }
    .mailing__form-div{
        width: 315px;
    }
    .mailing__description{
        font-size: 16px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .mailing__btn{
        transform: translateX(1px);
    }
    .panel{
        display: flex;
        position: fixed;
        background-color: #fff;
        bottom: 0;
        padding: 20px;
        width: 90vw;
        align-items: center;
        justify-content: space-between;
        z-index: 9999;
    }
    .mailing__form-div{
        display: none;
    }
    .mailing__input{
        border: 1.5px solid #00A23D;
        border-radius: 5px;
        width: 300px;
    }
    .mailing__btn{
        border-radius: 5px;
        margin-top: 15px;
    }
    .mailing__form-div-adaptiv{
        display: block;
        margin-left: 20px;
    }
}
